[submodule "site-shared"]
	path = site-shared
	url = https://github.com/dart-lang/site-shared.git
	branch = master
[submodule "flutter"]
	path = flutter
	url = https://github.com/flutter/flutter
	branch = beta
[submodule "website"]
	path = website
	url = https://github.com/flutter/website
